/**
 * 
 * Modernist Archives Publishing Project 
 * SASS files for site theme
 *
 * Mike Widner <mikewidner@gmail.com>
 *
 **/

@import "zen";

// body text font
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// title font
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700);

// Sass for buttons
@import "sassy-buttons";

$zen-column-count: 7; // Set the total number of columns in the grid.
$zen-gutter-width: 10px; 

$link_color: #4d71a2;
$highlight_color: #d36436;
$background_color: #58585a;
$content_bg_color: white;
$footer_bg_color: #d1d2d4;

body {
	background-color: $background_color;
}

#header, 
#main,
#footer {
	@include zen-grid-container;
	font-family: 'Open Sans', sans-serif;
}

#header, 
#main {
	background-color: $content_bg_color;
}

#footer {
	background-color: $footer_bg_color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Slab', serif;
}

a {
	text-decoration: none;
	color: $link_color;
}

a:hover {
	color: $highlight_color;
	text-decoration: underline;
}

#main-menu {
	@include zen-grid-item(2, $zen-column-count - 1);
	margin-top: -200px;
}

nav#main-menu ul li a {
	padding: .2em 1em;
}

a#logo img {
	padding-top: 10px;
	@include zen-grid-item(4, 2);
}

img#splash {
	// display: block;
	// margin-left: auto;
	// margin-right: auto;
	@include zen-grid-item($zen-column-count, 1);
	float: none;
}

img.library-logo {
	@include zen-grid-item(.5, 1);
	float: none;
}

.mapp-button {
	@include sassy-button("glass", 10px, 19px, $link_color);
	text-decoration: none;
}

#enter {
	font-size: x-large;
	@include zen-grid-item(2, 3);
	text-align: center;
	float: none;
}

a#enter:hover {
	color: white;
	text-decoration: none;
}

div#content {
	@include zen-grid-item($zen-column-count, 1);
	text-align: justify;
}