/**
 * 
 * Modernist Archives Publishing Project 
 * SASS files for site theme
 *
 * Mike Widner <mikewidner@gmail.com>
 *
 **/

@import "zen";

// body text font
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// title font
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700);

// Sass for buttons
@import "sassy-buttons";

$zen-column-count: 7; // Set the total number of columns in the grid.
$zen-gutter-width: 10px; 

$link_color: #4d71a2;
$highlight_color: #d36436;
$background_color: #58585a;
$content_bg_color: white;
$footer_bg_color: #d1d2d4;

body {
	background-color: $background_color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Slab', serif;
}

a {
	text-decoration: none;
	color: $link_color;
}

a:hover {
	color: $highlight_color;
	text-decoration: underline;
}

.mapp-button {
	@include sassy-button("simple", 10px, 19px, $link_color);
	text-decoration: none;
}