@import "zen";
$link_color: #4d71a2;
$highlight_color: #d36436;
$background_color: #58585a;
$content_bg_color: white;
$footer_bg_color: #d1d2d4;

#header, 
#main,
#footer {
	@include zen-grid-container;
	font-family: 'Open Sans', sans-serif;
}

#header, 
#main {
	background-color: $content_bg_color;
}

#footer {
	background-color: $footer_bg_color;
}

#content {
	@include zen-grid-item($zen-column-count, 1);
	text-align: justify;
}

#main-menu {
	@include zen-grid-item(2, $zen-column-count - 1);
	margin-top: -200px;
}

nav#main-menu ul li a {
	padding: .2em 1em;
}

a#logo img {
	padding-top: 10px;
	@include zen-grid-item(4, 2);
}

img#splash {
	// display: block;
	// margin-left: auto;
	// margin-right: auto;
	@include zen-grid-item($zen-column-count, 1);
	float: none;
}

#enter {
	font-size: x-large;
	@include zen-grid-item(2, 3);
	text-align: center;
	float: none;
}

a#enter:hover {
	color: white;
	text-decoration: none;
}