@import "zen";
@import "sassy-buttons";

$link-color: #4d71a2;
$highlight-color: #d36436;
$background-color: #58585a;
$content-bg-color: white;
$footer-bg-color: #d1d2d4;
$logo-color: #d36436;

$break-small: 320px;
$break-medium: 340px;
$break-large: 980px;

#header, 
#main,
#footer {
	@include zen-grid-container;
	font-family: 'Open Sans', sans-serif;
}

#header, 
#main {
	background-color: $content-bg-color;
}

#footer {
	background-color: $footer-bg-color;
}

#content {
	@include zen-grid-item($zen-column-count, 1);
	text-align: justify;
}

#main-menu {
	@media screen and (min-width: $break-large) {
		@include zen-grid-item(2, $zen-column-count - 1);
		margin-top: -100px;
	}
	@media screen and (max-width: $break-medium) and (min-width: $break-small) {
		@include zen-grid-item(3, 1);
	    margin-top: 40px;
	}
	@media screen and (max-width: $break-small) {
		// @include zen-grid-item(1, 1);
	    position: absolute;
	    top: 0;
	}
}

nav#main-menu ul li a {
	padding: .2em 1em;
}

// style the responsive menu for mobile
// added by responsive_menus module
#navigation .responsive-menus.responsified {
	position: absolute;
	@include zen-grid-item($zen-column-count, 1);
	width: 95%;
	top: 0px;
}

#logo img {
	padding-top: 10px;
	@include zen-grid-item(2, 1);
	min-width: 100px;
	@media screen and (max-width: $break-small) {
	    position: absolute;
	    top: 20px;
	    // display: none;
	}
}

#site-name {
	margin-top: 10%;
	padding-left: 10px;
	@media screen and (max-width: $break-small) {
		// position: absolute;
		display: none;
		// @include zen-grid-item(3, $zen-column-count - 3);
	}
}
#site-name a span {
	color: $logo-color;
}

#site-name a:hover {
	text-decoration: none;
}

#edit-actions input {
	@include sassy-button("glass", 10px, 19px, $link-color);
}