@import "zen";

$break-small: 370px;
$break-medium: 590px;
$break-large: 980px;

$link_color: #4d71a2;
$highlight_color: #d36436;
$background_color: #58585a;
$content_bg_color: white;
$footer_bg_color: #d1d2d4;
$light_bg_color: #d1d2d4;
$transparent_orange: rgba(211, 100, 54, .1);

img#splash {
	// display: block;
	// margin-left: auto;
	// margin-right: auto;
	@include zen-grid-item($zen-column-count, 1);
	float: none;
	@media screen and (max-width: $break-large) {
		// @include zen-grid-item(1, 1);
	    margin-top: 40px;
	}
	@media screen and (max-width: $break-small) {
		display: none;
	}
}

#enter {
	font-size: x-large;
	@include zen-grid-item(2, 3);
	text-align: center;
	float: none;
}

a#enter:hover {
	color: white;
	text-decoration: none;
}


.block-title {
	text-align: center;
	border-top: 1px solid $background_color;
	@include zen-grid-item($zen-column-count + 2, 0);
	float: none;
}


.view-id-team .view-content .views-row {
	overflow: hidden;
}

.profile-picture {
}

.profile-picture {
	float: right;
	margin: 1em 1em 1em 1em;
}



.views-field-field-bio {
	// border-bottom: 1px solid gray;
}

.view-partners tr {
	vertical-align: top;
}

.view-partners td {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	// @media screen and (max-width: $break-small) {
	// 	@include zen-grid-item(1, 1);
	//     margin-top: 20px;
	// }
	// @media screen and (max-width: $break-medium) and (min-width: $break-small) {
	// 	@include zen-grid-item($zen-column-count, 1);
		width: 20%;
	// }
}

.view-partners td div.views-field div.field-content img {
	// position: absolute;
	top: 0;
}


article.node-press img {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}


article.node-press h3.field-label {
  clear: left;
}

article.node-press cite {
	margin-top: 50px;
}

div.view-presses div.views-field-title {
	text-align: center;
}

li.comment_forbidden {
	display: block;
	padding-top: 50px;
}

pre {
	font-family: inherit;
}
