@import "zen";

$break-small: 320px;
$break-large: 820px;

img#splash {
	// display: block;
	// margin-left: auto;
	// margin-right: auto;
	@include zen-grid-item($zen-column-count, 1);
	float: none;
	@media screen and (max-width: $break-large) {
		// @include zen-grid-item(1, 1);
	    margin-top: 40px;
	}
}

#enter {
	font-size: x-large;
	@include zen-grid-item(2, 3);
	text-align: center;
	float: none;
}

a#enter:hover {
	color: white;
	text-decoration: none;
}

.view-id-team .view-content .views-row {
	overflow: hidden;
}

.profile-picture {
	margin: 10px 5px 10px 5px;
}

.profile-name {
	text-align: center;
	font-size: large;
	font-weight: bold;
}

.views-row {
	border-top: 1px solid gray;
}

.views-row-odd .profile-picture {
	float: left;
}

.views-row-even .profile-picture {
	float: right;
}

.views-field-field-bio {
	// border-bottom: 1px solid gray;
}

.view-partners td {
	padding-left: 10px;
	padding-right: 10px;
	width: 20%;
}