article.node {
  span.field-type-taxonomy-term-reference,
  .field-type-entityreference,
  .field-name-field-name-authority {
    display: block;
  }
}

.user-picture {
  float: left;
  img {
    border-radius: 50%;
  }
}

.field-name-field-relationships {
  display: flex;

  .field-name-field-relationship-with::after {
    content: ":"
  }

  .field-name-field-relationship-type {
    padding-left: 5px;
  }
}