article.node {
  span.field-type-taxonomy-term-reference,
  .field-type-entityreference,
  .field-name-field-name-authority {
    display: block;
  }
}

.user-picture {
  float: left;
  img {
    border-radius: 50%;
  }
}

.field-name-field-relationships,
.field-name-field-business-relationship {
  display: flex;

  .field-type-entityreference::after {
    content: ":"
  }

  .field-type-taxonomy-term-reference {
    padding-left: 5px;
  }
}


.field-name-field-fc-images {
  img,
  .field-name-field-source {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .field-name-field-caption,
  .field-name-field-source {
    text-align: center;
  }
}