$link_color: #4d71a2;
$highlight_color: #d36436;
$background_color: #58585a;
$content_bg_color: white;
$footer_bg_color: #d1d2d4;

// section.region-sidebar-first.column.sidebar {
  section.region-sidebar-first {
  padding: 2em;
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $highlight_color;
  overflow-y: auto;
  img.header__logo-image {
    width: 80%;
    margin-bottom: 24px;
  }
  a.header__logo:hover {
    border-bottom: none;
  }
  div#block-system-main-menu {
    ul.menu {
      list-style-type: none;
      li.menu__item {
        list-style-image: none;
        list-style-type: none;
        font-size: 1.2em;
        line-height: 0.9em;
        margin-bottom: 0.5em;
        font-variant: small-caps;
        text-transform: lowercase;
        letter-spacing: 0.1em;
        a {
          color: white;
          &:hover {
              color: lighten($highlight_color, 20);
              text-decoration: none;
              border-bottom: none;
          }
        }
      }
    }
  }
}
