$link_color: #4d71a2;
$highlight_color: #d36436;
$background_color: #58585a;
$content_bg_color: white;
$footer_bg_color: #d1d2d4;

$break-small: 375px;
$break-medium: 415px;
$break-large: 768px;
$break-xlarge: 900px;

$iphone6plus-min: 414px;
$iphone6plus-max: 736px;

// section.region-sidebar-first.column.sidebar {
section.region-sidebar-first {
  padding: 2em;
  font-size: .5em;
  box-sizing: border-box;
  @media only screen and (max-width: $break-small) {
    width: 100%;
  }
  // iPhone 6+
  @media only screen
  and (min-width: $iphone6plus-min)
  and (max-width: $iphone6plus-max)
  and (orientation: portrait) {
    width: 100%;
    font-size: 2em;
  }

  @media only screen
  and (min-width: $break-xlarge) {
    font-size: .8em;
  }

  @media only screen
  and (min-device-width : $iphone6plus-min)
  and (max-device-width : $iphone6plus-max)
  and (orientation : landscape) {
    font-size: 2em;
    height: $iphone6plus-min;
  }

  @media only screen and (min-width: $break-large) {
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
  }

  @media only screen and (max-width: $break-large) {
    font-size: 3em;
  }

  background-color: $highlight_color;
  overflow-y: auto;
  img.header__logo-image {
    width: 80%;
    margin-bottom: 24px;
    @media only screen and (max-width: $break-large) {
      display: none;
    }
    @media only screen and (min-width: $break-medium)
    and (max-width: $break-large) {
      display: block;
    }
    @media only screen
    and (min-width: $iphone6plus-min)
    and (max-width: $iphone6plus-max) {
      display: none;
    }
  }
  a.header__logo:hover {
    border-bottom: none;
  }
  div#block-system-main-menu {
    ul.menu {
      list-style-type: none;
      li.menu__item {
        list-style-image: none;
        list-style-type: none;
        font-size: 1.2em;
        line-height: 0.9em;
        margin-bottom: 0.5em;
        font-variant: small-caps;
        text-transform: lowercase;
        letter-spacing: 0.1em;
        @media screen and (max-width: $break-small) {
          font-size: 2em;
        }
        @media screen and (min-width: $break-medium) and (max-width: $break-large) {
          font-size: .5em;
        }

          a {
          color: white;
          &:hover {
              color: lighten($highlight_color, 20);
              text-decoration: none;
              border-bottom: none;
          }
        }
      }
    }
  }
}
