.view-presses {
  div.views-field-title,
  div.views-field-field-number-of-related-items {
    padding: 0px 10px 0px 10px;
    text-align: center;
  }
  td {
    padding-bottom: 3em;
  }
  img {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    opacity: .2;
  }
  .row-1 .col-1 img {
    -webkit-filter: none;
    filter: none;
    opacity: 1 !important;
  }
}

.view-press-related-objects table {
  width: 100%;
}

.view-works-authored {
  table {
    width: 100%;
    th {
      padding-right: 2em;
      min-width: 50px;
    }
    tr {
      td {
        padding-right: 1em;
      }
    }
  }
}

.view-id-front_page_content_feed {
  .views-row {
    border-top: 1px solid rgba(200,200,200,.5);
    padding-bottom: 10px;
  }
  .views-row-first {
    border: none;
  }
}

div.view-content {
  table {
    width: 100%;
    td {
      padding: 5px;
    }
  }
}