/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* @import "init";
/* @import "font-awesome-sprockets";
/* @import "font-awesome"; */
/* HTML element (SMACSS base) rules */
/* @import "normalize"; */
/* Layout rules */
/* @import "layouts/responsive";

/* Component (SMACSS module) rules */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,600,900);
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 *
 * Modernist Archives Publishing Project
 * SASS files for site theme
 *
 * Mike Widner <mikewidner@gmail.com>
 *
 **/
/* line 25, ../sass/components/base.scss */
div#page {
  width: 100%;
}

/* line 30, ../sass/components/base.scss */
body {
  font-family: "Roboto", sans-serf;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6em;
  background-color: #fcfcfc;
}

/* line 38, ../sass/components/base.scss */
article {
  margin-bottom: 5em;
}

/* line 42, ../sass/components/base.scss */
p#skip-link {
  margin: 0;
  display: none;
}

/* line 49, ../sass/components/base.scss */
.mapp-button {
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 15%;
}
/* line 56, ../sass/components/base.scss */
.mapp-button a {
  color: white;
}
/* line 59, ../sass/components/base.scss */
.mapp-button a:hover {
  text-decoration: none !important;
  color: transparent !important;
}

/* Contact */
/* line 69, ../sass/components/base.scss */
input, textarea {
  height: 3em;
  border-radius: 2px;
  border: 1px solid;
  border-color: #e6e6e6;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  font-family: "Roboto", sans-serf;
  font-weight: 300;
}

/* line 81, ../sass/components/base.scss */
textarea {
  height: 6em;
  resize: vertical;
}

/* line 86, ../sass/components/base.scss */
label {
  margin-top: 1.5em;
  display: block;
}

/* line 91, ../sass/components/base.scss */
.form-required {
  color: red;
}

/* line 95, ../sass/components/base.scss */
input[type="submit"] {
  margin-top: 3em;
  color: white;
  border-radius: 2px;
  border: 1px solid #d36436;
  background-color: #d36436;
  width: auto;
  padding: 0.25em 1em;
  font-size: 1em;
}
/* line 104, ../sass/components/base.scss */
input[type="submit"]:hover {
  background-color: #b04f26;
}

/* Bibolography */
/* line 111, ../sass/components/base.scss */
.biblio-separator-bar {
  margin: 1.5em 0 0.5em 0;
  border: none;
  background-color: transparent;
  border-top: 1px dotted #c8c8c8;
  padding: 0.5em 0 0 0;
  font-weight: 600;
  color: #d36436;
}

/* line 121, ../sass/components/base.scss */
.biblio-entry {
  margin-top: 0.75em;
}

/* line 125, ../sass/components/base.scss */
.biblio-export {
  float: right;
}

/* line 129, ../sass/components/base.scss */
ul.pager {
  margin-top: 1em;
}
/* line 131, ../sass/components/base.scss */
ul.pager li {
  display: inline-block;
}
/* line 133, ../sass/components/base.scss */
ul.pager li.pager-current {
  color: #4d71a2;
  font-weight: 600;
}

/* line 140, ../sass/components/base.scss */
.views-field-citation {
  margin-top: 1em;
}

/* Footer */
/* line 146, ../sass/components/base.scss */
#footer {
  background-color: whitesmoke;
  padding: 1em;
  margin-top: 2em;
}
/* line 151, ../sass/components/base.scss */
#footer block p {
  text-align: right !important;
  margin-top: 0px;
}

/* Hacks */
/* line 165, ../sass/components/base.scss */
.block-menu .block__title {
  display: none;
}

/* line 1, ../sass/components/typography.scss */
p {
  margin: 0.75em 0 0 0;
  max-width: 40em;
  font-weight: 300;
}

/* line 7, ../sass/components/typography.scss */
em, i {
  font-style: italic;
}

/* line 11, ../sass/components/typography.scss */
strong, b {
  font-weight: 600;
}

/* line 15, ../sass/components/typography.scss */
h1 {
  font-size: 2.074em;
  font-weight: 900;
  margin: 1.5em 0 0.75em 0;
}
/* line 19, ../sass/components/typography.scss */
h1.page__title {
  margin-top: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #d36436;
}

/* line 27, ../sass/components/typography.scss */
h2 {
  font-size: 1.728em;
  font-weight: 600;
  margin: 1.5em 0 0.75em 0;
}

/* line 33, ../sass/components/typography.scss */
h3 {
  font-size: 1.44em;
  font-weight: 600;
  margin: 1.5em 0 0.75em 0;
}

/* line 39, ../sass/components/typography.scss */
h4 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 1.5em 0 0 0;
  color: #d36436;
}

/* line 46, ../sass/components/typography.scss */
h5 {
  font-size: 1.2em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  line-height: 1em;
  font-weight: 600;
  margin: 1em 0 0.5em 0;
  color: #d36436;
}

/* line 57, ../sass/components/typography.scss */
h6 {
  font-size: 1em;
  font-weight: 900;
  line-height: 1.25em;
  margin: 1em 0 0.5em 0;
}

/* line 64, ../sass/components/typography.scss */
small {
  font-size: 0.833em;
}

/* line 68, ../sass/components/typography.scss */
a {
  text-decoration: none;
  color: #4d71a2;
}

/* line 73, ../sass/components/typography.scss */
a:hover {
  color: #2c415d;
  text-decoration: none;
  border-bottom: 1px dotted;
  border-color: #2c415d;
}

/* line 80, ../sass/components/typography.scss */
pre {
  white-space: pre-wrap;
  font-family: inherit;
}

/* line 86, ../sass/components/typography.scss */
.block-title {
  text-align: left;
  border-top: 1px dotted #969696;
  width: auto;
  margin: 2em 0 1em 0;
  padding: 0.5em 0 0 0;
  float: none;
  display: block;
}

/* line 100, ../sass/components/typography.scss */
.view-press-related-objects table thead tr {
  border-bottom: 1px solid #141414;
}
/* line 102, ../sass/components/typography.scss */
.view-press-related-objects table thead tr th {
  padding: 0.25em 0.5em 0.25em 0;
  font-weight: 600;
}
/* line 109, ../sass/components/typography.scss */
.view-press-related-objects table tbody tr {
  border-bottom: 1px solid #969696;
}
/* line 111, ../sass/components/typography.scss */
.view-press-related-objects table tbody tr td {
  padding: 0.25em 0;
}
/* line 113, ../sass/components/typography.scss */
.view-press-related-objects table tbody tr td p {
  margin: 0;
}
/* line 116, ../sass/components/typography.scss */
.view-press-related-objects table tbody tr td br {
  display: none;
}

/* line 127, ../sass/components/typography.scss */
fieldset {
  border: 1px dotted #969696;
  margin: 2em 0 1em 0;
  padding: 1em;
  display: block;
  position: relative;
}
/* line 134, ../sass/components/typography.scss */
fieldset legend {
  font-weight: 600;
  font-size: 1.2em;
  display: block;
  position: relative;
  padding: 0 1em;
}

/* line 16, ../sass/components/layout.scss */
#header,
#main {
  background-color: white;
}

/* line 20, ../sass/components/layout.scss */
img {
  max-width: 95%;
}

/* line 24, ../sass/components/layout.scss */
#main {
  background-color: #fcfcfc;
}
@media screen and (max-width: 375px) {
  /* line 24, ../sass/components/layout.scss */
  #main {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 400px) {
  /* line 24, ../sass/components/layout.scss */
  #main {
    width: 80%;
    margin-left: 20%;
  }
}

/* line 37, ../sass/components/layout.scss */
#content {
  text-align: left;
  margin: 0 auto;
  max-width: 40em;
}
@media screen and (max-width: 375px) {
  /* line 37, ../sass/components/layout.scss */
  #content {
    width: 100%;
    margin: 0;
  }
}

/* line 48, ../sass/components/layout.scss */
#navigation {
  display: none;
}

/* line 57, ../sass/components/layout.scss */
#site-name {
  margin-top: 10%;
  padding-left: 10px;
}
@media screen and (max-width: 375px) {
  /* line 57, ../sass/components/layout.scss */
  #site-name {
    display: none;
  }
}

/* line 64, ../sass/components/layout.scss */
#site-name a span {
  color: #d36436;
}

/* line 68, ../sass/components/layout.scss */
#site-name a:hover {
  text-decoration: none;
}

/* line 76, ../sass/components/layout.scss */
form#search-block-form div.form-actions {
  display: none;
}

/* line 81, ../sass/components/layout.scss */
#presses-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 87, ../sass/components/layout.scss */
body#tinymce {
  background-color: white;
}

/* line 15, ../sass/components/modules.scss */
img#splash {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: none;
}
@media screen and (max-width: 980px) {
  /* line 15, ../sass/components/modules.scss */
  img#splash {
    margin-top: 40px;
  }
}
@media screen and (max-width: 370px) {
  /* line 15, ../sass/components/modules.scss */
  img#splash {
    display: none;
  }
}

/* line 30, ../sass/components/modules.scss */
#enter {
  font-size: x-large;
  float: left;
  width: 28.57143%;
  margin-left: 28.57143%;
  margin-right: -57.14286%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: center;
  float: none;
}

/* line 37, ../sass/components/modules.scss */
a#enter:hover {
  color: white;
  text-decoration: none;
}

/* line 44, ../sass/components/modules.scss */
.view-id-team .view-content .views-row {
  overflow: hidden;
}

/* line 51, ../sass/components/modules.scss */
.profile-picture {
  float: right;
  margin: 1em 1em 1em 1em;
}

/* line 62, ../sass/components/modules.scss */
.view-partners tr {
  vertical-align: top;
}

/* line 66, ../sass/components/modules.scss */
.view-partners td {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: 20%;
}

/* line 80, ../sass/components/modules.scss */
.view-partners td div.views-field div.field-content img {
  top: 0;
}

/* line 86, ../sass/components/modules.scss */
article.node-press img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 93, ../sass/components/modules.scss */
article.node-press h3.field-label {
  clear: left;
}

/* line 97, ../sass/components/modules.scss */
article.node-press cite {
  margin-top: 50px;
}

/* line 101, ../sass/components/modules.scss */
div.view-presses div.views-field-title {
  text-align: center;
}

/* line 105, ../sass/components/modules.scss */
li.comment_forbidden {
  display: block;
  padding-top: 50px;
}

/* line 110, ../sass/components/modules.scss */
pre {
  font-family: inherit;
}

/* line 12, ../sass/components/sidebar.scss */
section.region-sidebar-first {
  padding: 2em;
  box-sizing: border-box;
  background-color: #d36436;
  overflow-y: auto;
}
@media screen and (max-width: 375px) {
  /* line 12, ../sass/components/sidebar.scss */
  section.region-sidebar-first {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  /* line 12, ../sass/components/sidebar.scss */
  section.region-sidebar-first {
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
  }
}
/* line 28, ../sass/components/sidebar.scss */
section.region-sidebar-first img.header__logo-image {
  width: 80%;
  margin-bottom: 24px;
}
@media screen and (max-width: 375px) {
  /* line 28, ../sass/components/sidebar.scss */
  section.region-sidebar-first img.header__logo-image {
    display: none;
  }
}
/* line 35, ../sass/components/sidebar.scss */
section.region-sidebar-first a.header__logo:hover {
  border-bottom: none;
}
/* line 39, ../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu {
  list-style-type: none;
}
/* line 41, ../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item {
  list-style-image: none;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 0.9em;
  margin-bottom: 0.5em;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 375px) {
  /* line 41, ../sass/components/sidebar.scss */
  section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item {
    font-size: 2em;
  }
}
/* line 53, ../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item a {
  color: white;
}
/* line 55, ../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item a:hover {
  color: #e5a58a;
  text-decoration: none;
  border-bottom: none;
}

/* line 3, ../sass/components/views.scss */
.view-presses div.views-field-title,
.view-presses div.views-field-field-number-of-related-items {
  padding: 0px 10px 0px 10px;
  text-align: center;
}
/* line 7, ../sass/components/views.scss */
.view-presses td {
  padding-bottom: 3em;
}
/* line 10, ../sass/components/views.scss */
.view-presses img {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  opacity: .2;
}
/* line 18, ../sass/components/views.scss */
.view-presses .row-1 .col-1 img {
  -webkit-filter: none;
  filter: none;
  opacity: 1 !important;
}

/* line 25, ../sass/components/views.scss */
.view-press-related-objects table {
  width: 100%;
}

/* line 30, ../sass/components/views.scss */
.view-works-authored table {
  width: 100%;
}
/* line 32, ../sass/components/views.scss */
.view-works-authored table th {
  padding-right: 2em;
  min-width: 50px;
}
/* line 37, ../sass/components/views.scss */
.view-works-authored table tr td {
  padding-right: 1em;
}

/* line 45, ../sass/components/views.scss */
.view-id-front_page_content_feed .views-row {
  border: 1px solid rgba(200, 200, 200, 0.5);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
}

/* line 54, ../sass/components/views.scss */
div.view-content table {
  width: 100%;
}
/* line 56, ../sass/components/views.scss */
div.view-content table td {
  padding: 5px;
}

/* line 4, ../sass/components/nodes.scss */
article.node span.field-type-taxonomy-term-reference,
article.node .field-type-entityreference,
article.node .field-name-field-name-authority {
  display: block;
}

/* @import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
