/**
 *
 * Modernist Archives Publishing Project
 * SASS files for site theme
 *
 * Mike Widner <mikewidner@gmail.com>
 *
 **/
@import url("http://fonts.googleapis.com/css?family=Open+Sans|Quattrocento+Sans");
/* line 27, ../../sass/components/base.scss */
body {
  background-color: #58585a;
}

/* line 31, ../../sass/components/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quattrocento Sans', sans-serif;
}

/* line 35, ../../sass/components/base.scss */
a {
  text-decoration: none;
  color: #4d71a2;
}

/* line 40, ../../sass/components/base.scss */
a:hover {
  color: #d36436;
  text-decoration: underline;
}

/* line 45, ../../sass/components/base.scss */
.mapp-button {
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD36436', endColorstr='#FF863C1D');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d36436), color-stop(100%, #b04f26));
  background: -webkit-linear-gradient(#d36436, #b04f26);
  background: -moz-linear-gradient(#d36436, #b04f26);
  background: -o-linear-gradient(#d36436, #b04f26);
  background: linear-gradient(#d36436, #b04f26);
  -webkit-box-shadow: #e19475 0 1px 0 inset;
  -moz-box-shadow: #e19475 0 1px 0 inset;
  box-shadow: #e19475 0 1px 0 inset;
  border: 1px solid #9b4522;
  color: white;
  text-shadow: #6d3118 0 -1px 0;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 15%;
}
/* line 15, ../../../../../../../../lib/gems/2.3.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.mapp-button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../../lib/gems/2.3.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.mapp-button:hover {
  background-color: #9b4522;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4582b), color-stop(100%, #9b4522));
  background: -webkit-linear-gradient(#c4582b, #9b4522);
  background: -moz-linear-gradient(#c4582b, #9b4522);
  background: -o-linear-gradient(#c4582b, #9b4522);
  background: linear-gradient(#c4582b, #9b4522);
}
/* line 39, ../../../../../../../../lib/gems/2.3.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.mapp-button:active {
  -webkit-box-shadow: #8e401f 0 1px 2px inset;
  -moz-box-shadow: #8e401f 0 1px 2px inset;
  box-shadow: #8e401f 0 1px 2px inset;
}
/* line 6, ../../../../../../../../lib/gems/2.3.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.mapp-button.disabled, .mapp-button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #b04f26;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../lib/gems/2.3.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.mapp-button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 53, ../../sass/components/base.scss */
.mapp-button a {
  color: white;
}
/* line 56, ../../sass/components/base.scss */
.mapp-button a:hover {
  text-decoration: none !important;
  color: transparent !important;
}
