/**
 * 
 * Modernist Archives Publishing Project 
 * SASS files for site theme
 *
 * Mike Widner <mikewidner@gmail.com>
 *
 **/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
/* line 30, ../../sass/components/base.scss */
body {
  background-color: #58585a;
}

/* line 34, ../../sass/components/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
}

/* line 38, ../../sass/components/base.scss */
a {
  text-decoration: none;
  color: #4d71a2;
}

/* line 43, ../../sass/components/base.scss */
a:hover {
  color: #d36436;
  text-decoration: underline;
}

/* line 48, ../../sass/components/base.scss */
.mapp-button {
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4D71A2', endColorstr='#FF2C415D');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #6386b5), color-stop(51%, #4d71a2));
  background: -webkit-linear-gradient(#6386b5 50%, #4d71a2 51%);
  background: -moz-linear-gradient(#6386b5 50%, #4d71a2 51%);
  background: -o-linear-gradient(#6386b5 50%, #4d71a2 51%);
  background: linear-gradient(#6386b5 50%, #4d71a2 51%);
  -webkit-box-shadow: #97aecd 0 1px 0 inset;
  -moz-box-shadow: #97aecd 0 1px 0 inset;
  box-shadow: #97aecd 0 1px 0 inset;
  border: 1px solid #456591;
  color: white;
  text-shadow: #304664 0 -1px 0;
  text-decoration: none;
}
/* line 15, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.mapp-button:hover {
  text-decoration: none;
}
/* line 30, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.mapp-button:hover {
  background-color: #41608a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #4f73a5), color-stop(51%, #41608a));
  background: -webkit-linear-gradient(#4f73a5 50%, #41608a 51%);
  background: -moz-linear-gradient(#4f73a5 50%, #41608a 51%);
  background: -o-linear-gradient(#4f73a5 50%, #41608a 51%);
  background: linear-gradient(#4f73a5 50%, #41608a 51%);
}
/* line 33, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.mapp-button:active {
  -webkit-box-shadow: #405e86 0 1px 2px inset;
  -moz-box-shadow: #405e86 0 1px 2px inset;
  box-shadow: #405e86 0 1px 2px inset;
}
/* line 6, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.mapp-button.disabled, .mapp-button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #4d71a2;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.mapp-button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
