/* line 17, ../../sass/components/layout.scss */
#header,
#main,
#footer {
  font-family: 'Open Sans', sans-serif;
}
/* line 46, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 50, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/* line 23, ../../sass/components/layout.scss */
#header,
#main {
  background-color: white;
}

/* line 27, ../../sass/components/layout.scss */
#footer {
  background-color: #d1d2d4;
}

/* line 31, ../../sass/components/layout.scss */
#content {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: justify;
}

@media screen and (min-width: 980px) {
  /* line 36, ../../sass/components/layout.scss */
  #main-menu {
    float: left;
    width: 200%;
    margin-left: -100%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: -100px;
  }
}
@media screen and (max-width: 340px) and (min-width: 320px) {
  /* line 36, ../../sass/components/layout.scss */
  #main-menu {
    float: left;
    width: 300%;
    margin-left: 0%;
    margin-right: -300%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: 40px;
  }
}
@media screen and (max-width: 320px) {
  /* line 36, ../../sass/components/layout.scss */
  #main-menu {
    position: absolute;
    top: 0;
  }
}

/* line 52, ../../sass/components/layout.scss */
nav#main-menu ul li a {
  padding: .2em 1em;
}

/* line 58, ../../sass/components/layout.scss */
#navigation .responsive-menus.responsified {
  position: absolute;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 95%;
}

/* line 64, ../../sass/components/layout.scss */
#logo img {
  padding-top: 10px;
  float: left;
  width: 200%;
  margin-left: 0%;
  margin-right: -200%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  min-width: 100px;
}
@media screen and (max-width: 320px) {
  /* line 64, ../../sass/components/layout.scss */
  #logo img {
    position: absolute;
    top: 0;
  }
}

/* line 74, ../../sass/components/layout.scss */
#site-name {
  margin-top: 10%;
  padding-left: 10px;
}

/* line 78, ../../sass/components/layout.scss */
#site-name a span {
  color: #d36436;
}

/* line 82, ../../sass/components/layout.scss */
#site-name a:hover {
  text-decoration: none;
}

/* line 86, ../../sass/components/layout.scss */
#edit-actions input {
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4D71A2', endColorstr='#FF2C415D');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #6386b5), color-stop(51%, #4d71a2));
  background: -webkit-linear-gradient(#6386b5 50%, #4d71a2 51%);
  background: -moz-linear-gradient(#6386b5 50%, #4d71a2 51%);
  background: -o-linear-gradient(#6386b5 50%, #4d71a2 51%);
  background: linear-gradient(#6386b5 50%, #4d71a2 51%);
  -webkit-box-shadow: #97aecd 0 1px 0 inset;
  -moz-box-shadow: #97aecd 0 1px 0 inset;
  box-shadow: #97aecd 0 1px 0 inset;
  border: 1px solid #456591;
  color: white;
  text-shadow: #304664 0 -1px 0;
}
/* line 15, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#edit-actions input:hover {
  text-decoration: none;
}
/* line 30, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#edit-actions input:hover {
  background-color: #41608a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #4f73a5), color-stop(51%, #41608a));
  background: -webkit-linear-gradient(#4f73a5 50%, #41608a 51%);
  background: -moz-linear-gradient(#4f73a5 50%, #41608a 51%);
  background: -o-linear-gradient(#4f73a5 50%, #41608a 51%);
  background: linear-gradient(#4f73a5 50%, #41608a 51%);
}
/* line 33, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#edit-actions input:active {
  -webkit-box-shadow: #405e86 0 1px 2px inset;
  -moz-box-shadow: #405e86 0 1px 2px inset;
  box-shadow: #405e86 0 1px 2px inset;
}
/* line 6, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#edit-actions input.disabled, #edit-actions input[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #4d71a2;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
#edit-actions input::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
