/* line 15, ../../sass/components/modules.scss */
img#splash {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: none;
}
@media screen and (max-width: 980px) {
  /* line 15, ../../sass/components/modules.scss */
  img#splash {
    margin-top: 40px;
  }
}
@media screen and (max-width: 370px) {
  /* line 15, ../../sass/components/modules.scss */
  img#splash {
    display: none;
  }
}

/* line 30, ../../sass/components/modules.scss */
#enter {
  font-size: x-large;
  float: left;
  width: 200%;
  margin-left: 200%;
  margin-right: -400%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: center;
  float: none;
}

/* line 37, ../../sass/components/modules.scss */
a#enter:hover {
  color: white;
  text-decoration: none;
}

/* line 44, ../../sass/components/modules.scss */
.view-id-team .view-content .views-row {
  overflow: hidden;
}

/* line 51, ../../sass/components/modules.scss */
.profile-picture {
  float: right;
  margin: 1em 1em 1em 1em;
}

/* line 62, ../../sass/components/modules.scss */
.view-partners tr {
  vertical-align: top;
}

/* line 66, ../../sass/components/modules.scss */
.view-partners td {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: 20%;
}

/* line 80, ../../sass/components/modules.scss */
.view-partners td div.views-field div.field-content img {
  top: 0;
}

/* line 86, ../../sass/components/modules.scss */
article.node-press img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 93, ../../sass/components/modules.scss */
article.node-press h3.field-label {
  clear: left;
}

/* line 97, ../../sass/components/modules.scss */
article.node-press cite {
  margin-top: 50px;
}

/* line 101, ../../sass/components/modules.scss */
div.view-presses div.views-field-title {
  text-align: center;
}

/* line 105, ../../sass/components/modules.scss */
li.comment_forbidden {
  display: block;
  padding-top: 50px;
}

/* line 110, ../../sass/components/modules.scss */
pre {
  font-family: inherit;
}
