/* line 7, ../../sass/components/modules.scss */
img#splash {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: none;
}
@media screen and (max-width: 980px) {
  /* line 7, ../../sass/components/modules.scss */
  img#splash {
    margin-top: 40px;
  }
}

/* line 19, ../../sass/components/modules.scss */
#enter {
  font-size: x-large;
  float: left;
  width: 200%;
  margin-left: 200%;
  margin-right: -400%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: center;
  float: none;
}

/* line 26, ../../sass/components/modules.scss */
a#enter:hover {
  color: white;
  text-decoration: none;
}

/* line 31, ../../sass/components/modules.scss */
.view-id-team .view-content .views-row {
  overflow: hidden;
}

/* line 35, ../../sass/components/modules.scss */
.profile-picture {
  margin: 10px 5px 10px 5px;
}

/* line 39, ../../sass/components/modules.scss */
.profile-name {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

/* line 45, ../../sass/components/modules.scss */
.views-row {
  border-top: 1px solid gray;
}

/* line 49, ../../sass/components/modules.scss */
.views-row-odd .profile-picture {
  float: left;
}

/* line 53, ../../sass/components/modules.scss */
.views-row-even .profile-picture {
  float: right;
}

/* line 61, ../../sass/components/modules.scss */
.view-partners tr {
  vertical-align: bottom;
}

/* line 65, ../../sass/components/modules.scss */
.view-partners td {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: 20%;
}

/* line 84, ../../sass/components/modules.scss */
.view-team p {
  margin: .2em;
}
