/* line 4, ../../sass/components/nodes.scss */
article.node span.field-type-taxonomy-term-reference,
article.node .field-type-entityreference,
article.node .field-name-field-name-authority {
  display: block;
}

/* line 9, ../../sass/components/nodes.scss */
.user-picture {
  float: left;
}
/* line 11, ../../sass/components/nodes.scss */
.user-picture img {
  border-radius: 50%;
}

/* line 17, ../../sass/components/nodes.scss */
.field-name-field-relationships,
.field-name-field-business-relationship {
  display: flex;
}
/* line 20, ../../sass/components/nodes.scss */
.field-name-field-relationships .field-type-entityreference::after,
.field-name-field-business-relationship .field-type-entityreference::after {
  content: ":";
}
/* line 24, ../../sass/components/nodes.scss */
.field-name-field-relationships .field-type-taxonomy-term-reference,
.field-name-field-business-relationship .field-type-taxonomy-term-reference {
  padding-left: 5px;
}

/* line 32, ../../sass/components/nodes.scss */
.field-name-field-fc-images img,
.field-name-field-fc-images .field-name-field-source {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 38, ../../sass/components/nodes.scss */
.field-name-field-fc-images .field-name-field-caption,
.field-name-field-fc-images .field-name-field-source {
  text-align: center;
}
