/* line 4, ../../sass/components/nodes.scss */
article.node span.field-type-taxonomy-term-reference,
article.node .field-type-entityreference,
article.node .field-name-field-name-authority {
  display: block;
}

/* line 9, ../../sass/components/nodes.scss */
.user-picture {
  float: left;
}
/* line 11, ../../sass/components/nodes.scss */
.user-picture img {
  border-radius: 50%;
}

/* line 16, ../../sass/components/nodes.scss */
.field-name-field-relationships {
  display: flex;
}
/* line 19, ../../sass/components/nodes.scss */
.field-name-field-relationships .field-name-field-relationship-with::after {
  content: ":";
}
/* line 23, ../../sass/components/nodes.scss */
.field-name-field-relationships .field-name-field-relationship-type {
  padding-left: 5px;
}
