/* line 12, ../../sass/components/sidebar.scss */
section.region-sidebar-first {
  padding: 2em;
  box-sizing: border-box;
  background-color: #d36436;
  overflow-y: auto;
}
@media screen and (max-width: 375px) {
  /* line 12, ../../sass/components/sidebar.scss */
  section.region-sidebar-first {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  /* line 12, ../../sass/components/sidebar.scss */
  section.region-sidebar-first {
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
  }
}
/* line 28, ../../sass/components/sidebar.scss */
section.region-sidebar-first img.header__logo-image {
  width: 80%;
  margin-bottom: 24px;
}
@media screen and (max-width: 375px) {
  /* line 28, ../../sass/components/sidebar.scss */
  section.region-sidebar-first img.header__logo-image {
    display: none;
  }
}
/* line 35, ../../sass/components/sidebar.scss */
section.region-sidebar-first a.header__logo:hover {
  border-bottom: none;
}
/* line 39, ../../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu {
  list-style-type: none;
}
/* line 41, ../../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item {
  list-style-image: none;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 0.9em;
  margin-bottom: 0.5em;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 375px) {
  /* line 41, ../../sass/components/sidebar.scss */
  section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item {
    font-size: 2em;
  }
}
/* line 53, ../../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item a {
  color: white;
}
/* line 55, ../../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item a:hover {
  color: #e5a58a;
  text-decoration: none;
  border-bottom: none;
}
