/* line 15, ../../sass/components/sidebar.scss */
section.region-sidebar-first {
  padding: 2em;
  box-sizing: border-box;
  background-color: #d36436;
  overflow-y: auto;
}
@media only screen and (max-width: 375px) {
  /* line 15, ../../sass/components/sidebar.scss */
  section.region-sidebar-first {
    width: 100%;
  }
}
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
  /* line 15, ../../sass/components/sidebar.scss */
  section.region-sidebar-first {
    width: 100%;
    font-size: 2em;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  /* line 15, ../../sass/components/sidebar.scss */
  section.region-sidebar-first {
    font-size: smaller;
    height: 414px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 15, ../../sass/components/sidebar.scss */
  section.region-sidebar-first {
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
  }
}
/* line 52, ../../sass/components/sidebar.scss */
section.region-sidebar-first img.header__logo-image {
  width: 80%;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  /* line 52, ../../sass/components/sidebar.scss */
  section.region-sidebar-first img.header__logo-image {
    display: none;
  }
}
/* line 59, ../../sass/components/sidebar.scss */
section.region-sidebar-first a.header__logo:hover {
  border-bottom: none;
}
/* line 63, ../../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu {
  list-style-type: none;
}
/* line 65, ../../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item {
  list-style-image: none;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 0.9em;
  margin-bottom: 0.5em;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 375px) {
  /* line 65, ../../sass/components/sidebar.scss */
  section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item {
    font-size: 2em;
  }
}
@media screen and (min-width: 415px) and (max-width: 768px) {
  /* line 65, ../../sass/components/sidebar.scss */
  section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item {
    font-size: 1em;
  }
}
/* line 81, ../../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item a {
  color: white;
}
/* line 83, ../../sass/components/sidebar.scss */
section.region-sidebar-first div#block-system-main-menu ul.menu li.menu__item a:hover {
  color: #e5a58a;
  text-decoration: none;
  border-bottom: none;
}
