/* line 3, ../../sass/components/views.scss */
.view-presses div.views-field-title,
.view-presses div.views-field-field-number-of-related-items {
  padding: 0px 10px 0px 10px;
  text-align: center;
}
/* line 7, ../../sass/components/views.scss */
.view-presses td {
  padding-bottom: 3em;
}
/* line 10, ../../sass/components/views.scss */
.view-presses img {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  opacity: .2;
}
/* line 18, ../../sass/components/views.scss */
.view-presses .row-1 .col-1 img {
  -webkit-filter: none;
  filter: none;
  opacity: 1 !important;
}

/* line 25, ../../sass/components/views.scss */
.view-press-related-objects table {
  width: 100%;
}

/* line 30, ../../sass/components/views.scss */
.view-works-authored table {
  width: 100%;
}
/* line 32, ../../sass/components/views.scss */
.view-works-authored table th {
  padding-right: 2em;
  min-width: 50px;
}
/* line 37, ../../sass/components/views.scss */
.view-works-authored table tr td {
  padding-right: 1em;
}

/* line 45, ../../sass/components/views.scss */
.view-id-front_page_content_feed .views-row {
  border-top: 1px solid rgba(200, 200, 200, 0.5);
  padding-bottom: 10px;
}
/* line 49, ../../sass/components/views.scss */
.view-id-front_page_content_feed .views-row-first {
  border: none;
}
